name: Server Build Check
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v3
        with:
          # global-json-file: server/src/global.json
          dotnet-version: 8
          dotnet-quality: "preview"

      - name: Restore Dependencies
        run: dotnet restore server/src/Api

      - name: Build Project
        run: dotnet build server/src/Api --configuration Release

      - name: Run Tests
        run: dotnet test server
